<nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a routerLink="/home" class="navbar-brand">
        <img src="assets/images/chipbackground.jpg" width="50" height="50" alt="CoolBrand">
      </a>
      <a routerLink="/home" class="navbar-brand">Chip Advisor</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div *ngIf="isLoggedIn();" class="navbar-nav">
          <a class="nav-item nav-link fw-bold" >Welcome {{ user.username }}</a>
          <a *ngIf="user?.role === 'admin'" href="#" class="nav-item nav-link">User Management</a>
          <a *ngIf="user?.role === 'admin'" href="#" class="nav-item nav-link">Review Management</a>
          <a *ngIf="user?.role === 'admin'" routerLink="/review/new" class="nav-item nav-link">New Review</a>
          <a *ngIf="user?.role === 'user'" href="#" class="nav-item nav-link">My Comments</a>
          
        </div>
  
        <div  class="navbar-nav ms-auto">
          <div *ngIf="isLoggedIn(); else loginTemplate">
            <button class="nav-item nav-link"  (click)="logout()">Logout</button>
          </div>
    
          <ng-template #loginTemplate>
            <a class="nav-item nav-link" routerLink="/login">Login</a>
            <a class="nav-item nav-link" routerLink="/signup">Register</a>
          </ng-template>
        </div>
      </div>
    </div>
    
  </nav>
  