<div class="row  mt-2 ps-2 mx-0">
    <div class="d-flex align-items-center">
        <!-- Label for the select dropdown -->
        <label for="sortSelect" class="form-label m-0 me-2">Sort by</label>
    
        <!-- Select dropdowns -->
        <select id="sortSelect" [(ngModel)]="sortByFirst" class="form-select w-auto me-2">
            <option value="date">Date</option>
            <option value="score">Score</option>
        </select>
        <select *ngIf="sortByFirst == 'date'" id="" class="form-select w-auto me-2">
            <option value="">Newest First</option>
            <option value="">Oldest First</option>
        </select>
        <select *ngIf="sortByFirst == 'score'" id="" class="form-select w-auto">
            <option value="">Highest First</option>
            <option value="">Lowest First</option>
        </select>
    </div>
    
</div>

<div class="row mx-0 mb-4">
    <div *ngFor="let review of reviews" class="col-lg-2 col-md-4 col-sm-6 col-12 mb-3">
        <div class="card" (click)="navigateToReview(review.id)" style="cursor: pointer;" class="p-3 border mt-2 text-center bg-light rounded">
            <img [src]="'http://localhost:8080' + review.img" class="img img-fluid card-img-top rounded" alt="User Image">
            <div class="card-body">
                <h5 class="card-title pt-2">{{ review.name }}</h5>
            </div>
        </div>
    </div>
</div>
